.about-content {
    display: flex;


    .left-side {

        img {
         width: 100%;
        }
    }

    .right-side {
        display: grid;
        grid-template-columns: 1fr;
        padding: 25px;
        font-size: 2em;
    }
}