.blog-form {

    padding: 20px;
    
    .two-column {
        

        input {
            width: 100%;
            height: 20px;
            padding: 10px;
            border-right: none;
            border-top: none;
            border-radius: 5px;
            border-width: 5px;
            border-color: $purple;
            border-left-color: $lightPurple;
        }

        .content-box {
            margin-top: 5px;
            width: 97%;
            height: 150px;
        }
        
        .top-column {
            display: flex;
            justify-content: center;

            
        }
    }

    .save-btn {
        width: 100%;
        height: 35px;
        margin-top: 10px;

        transition: ease-in-out 0.5s;

        &:hover {
            color: $white;
        }
    }

    button {
        background-color: $orange;
        border-radius: 5px;
        
        transition: ease-in-out 0.5s;

        &:hover {
            background-color: #ac5c00;
        }
    }
}