.blog-form-wrapper {
    display: grid;
    gap: 21px;
    grid-template-columns: 1fr;
    padding: 42px;

    input {
        color: black;
        padding: 5px 0px;
        width: 100%;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid black;
        background-color: transparent;
        transition: 0.5s all ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px;
  
        &:focus {
          outline: none;
          border-bottom: 1px solid black;
        }
      }
    input {
        margin-bottom: 0px;
    }

    .image-uploaders {
        .one-column {
            display: grid;
            gap: 21px;
            grid-template-columns: 1fr;
        }
        
        .two-column {
            display: grid;
            gap: 21px;
            grid-template-columns: 1fr 1fr;
        }
        
        .three-column {
            display: grid;
            gap: 21px;
            grid-template-columns: 1fr 1fr 1fr;
        }
        grid-template-columns: 200px;
    }
}