@import "./variables.scss";
@import "./navbars.scss";
@import "./about.scss";
@import "./auth.scss";
@import "./blog.scss";
@import "./blog-form.scss";
@import "./home.scss";
@import "./react-draft-wysiwyg.scss";
@import "./loaders.scss";





  html { font-size: 100%}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Koulen', cursive;
}

body {
background-color: $white;
}

.app {
    display: grid;
    justify-items: center;
}

