.navBar-wrapper {
    background-color: $purple;
    width: 100%;
    display: flex;
    align-items: center;

    img {
        width: 100px;
    }

    .top-logo{ 
        vertical-align: middle;
        justify-content: start;
        padding: 10px;
    } 



    .nav-links-wrapper {
        display: flex;
        justify-content: space-between;

        
        
    } 

    .navBar-middle, .nav-link {
        padding: 18px;
    }



    a {
       font-size: large;
        color: $white;
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        transition: ease-in-out 0.5s;
    }

    a:hover {
        color: $grey;
    }

   

    h1 {
        color: $orange;
        font-size: xx-large;
    }
}





.navBar-wrapper-bottom {
    
    display: flex;
//    display: grid;
//    grid-template-columns: 1fr;
   align-items: center;
   justify-content: center;
   background-color: $purple;
   width: 100%;
   position:static;

   .logo-bottom {
       justify-content: center;
       align-items: center;
       padding: 10px;
       img {
           width: 100px;
       }
   }

   .copyright {
       color: $white;
       display: flex;
       justify-content: center;
       align-items: center;
   }
}

// .logo {
//     width: 170px;
// }

